/*-- Global */
ul{
    padding: 0 !important;
}

.box-body.box-profile{
    position: relative;
}

.box-body.box-profile .cover{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
}

.box-body.box-profile .cover img{
    width: 100%;
    height: 100%;
}

.box-body.box-profile .profile-op{
    position: relative;
    z-index: 1;
    color: #fff;
}

.box-body.box-profile .profile-op .sup-info{
    background-color: rgba(3,3,3,.5);
    border: 1px solid #333;
    width: 40%;
    margin: auto;
}

.box-body.box-profile .profile-op .sup-info p{
    color: #fff;
    font-weight: bold;
}

.alert{
    background-color: #dd4b39a3 !important;
    border: none;
    border-left: 4px solid #dd4b39;
    border-radius: 0;
}

.no-scroll{
    overflow-y: hidden;
}

/* .content-wrapper{
    background-image: url(../image/shop-bg-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
} */

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 999;
}

.box.box-info{
    box-shadow: 0 0 4px #82828263;
    border-bottom: 1px solid #aaa;
}

.main-footer i.fa-heart{
    color: rgb(226, 34, 34);
    animation: heart 1s linear infinite;
}

.login-page .background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.login-page .background img{
    width: 100%;
    height: 100%;
}

.login-box-body {
    position: relative;
}

.login-box-body .logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

div#AllProducts > div{
    height: 200px;
    margin-top: 10px;
    padding-top: 20px;
    border: 1px solid #BFBFBF;
    background-color: white;
    box-shadow: 10px 10px 5px #aaaaaa;
}

.modal-content,
.modal-content .box.box-info{
    box-shadow: none;
}

.modal-content form{
    border-bottom: 1px solid #f4f4f4;
}

.modal-content form .box-footer{
    border-top: none;
}

.small-box span.badge.badge-danger {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #b90a0a;
}

/*----- Start Dashboard -----*/

.panel-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.panel-body{
    height: 0;
    overflow: hidden;
    padding: 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.panel-body.open{
    height: auto;
    padding: 15px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.serv-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.serv-info:nth-last-of-type(odd){
    background-color: #f1f1f1;
}
.serv-info p,
.serv-info span{
    margin: 0;
    text-align: center;
    width: 50%;
}

/*----- /end dashboard ------*/

/*--------- Start Request Form Popup ---------*/
.overlay{
    transform: scale(0);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.popup-form {
    width: 50%;
    margin: auto;
    background-color: #ffff;
    box-shadow: 1px -2px 40px #25252559;
    border-bottom: 2px solid #ddd;
    border-radius: 5px;
    position: relative;
    top: 15%;
}

.popup-form .cart-header{
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.popup-form .cart-header .title{
    display: flex;
    justify-content: space-between;
}

.popup-form .cart-header .title i.fa{
    background-color: #dadada;
    border-radius: 20px;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.popup-form .cart-header .title,
.popup-form .cart-footer{
    font-weight: bold;
}

.popup-form .cart-body{
    padding: 2rem;
    overflow: hidden;
}

.popup-form .cart-footer{
    padding: 10px;
    border-top: 1px solid #ddd;
}

.popup-show{
    transform: scale(1) !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.requests{
    overflow: hidden;
    padding: 2rem;
}

.requests .empty-box{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.requests .empty-box .image{
    width: 150px;
    height: 150px;
}
.requests .empty-box .image img{
    width: 100%;
    height: 100%;
}

.requests .empty-box p{
    font-size: 20px;
    font-weight: bold;
    color: #aaa;
    font-family: sans-serif;
}

.req-info, .req-content{
    height: 120px;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 2px;
    float: left;
    box-shadow: 0px 0px 4px #94949485;
    margin-bottom: 10px;
    border-bottom: 2px solid #ddd;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

/*.req-info:hover{*/
/*    box-shadow: 0px 0px 8px #949494;*/
/*}*/

/*.req-info:hover + .req-content{*/
/*    box-shadow: 0px 0px 8px #949494;*/
/*}*/

/*.req-content:hover{*/
/*    box-shadow: 0px 0px 8px #949494;*/
/*}*/

/*.req-content:hover  .req-info{*/
/*    box-shadow: 0px 0px 8px #949494;*/
/*}*/

.req-info {
    position: relative;
    width: 19%;
    margin-right: 5px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.req-info .status{
    position: absolute;
    top: 10px;
    right: 10px;
}

.req-content {
    position: relative;
    width: calc(100% - 20%);
    overflow: hidden;
}

.req-content .req-op{
    position: absolute;
    bottom: -30px;
    right: calc((100% - 192px) / 2);
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.req-content:hover .req-op{
    bottom: 7px;
}

.req-content .req-op .btn-group .btn-default.dropdown-toggle{
    padding: 0 5px;
    border: none;
}

.req-content .req-op .btn-group .btn-default.dropdown-toggle:hover{
    background-color: transparent;
    box-shadow: none;
}

.req-content .req-op .dropdown-menu{
    transform: translate3d(-136px, 25px, 0px) !important;
}

.req-content p{
    text-align: center;
    width: 90%;
    margin: auto;
    height: 60px;
}

.req-info p{
    margin: 0;
}

.req-info p.phone{
    font-weight: bold;
}

.req-info p.time{
    color: #aaa;
    font-size: 12px;
}

.qut-right,
.qut-left{
    width: 20px;
    height: 20px;
}

.qut-right img,
.qut-left img{
    width: 100%;
    height: 100%;
}

.qut-right img{
    transform: rotateY(180deg);
}

.qut-left{
    float: right;
}

/*--------- /end requests form popup ----------*/
.content-header>h1 {
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 0 4px rgba(168, 168, 168, 0.658);
    border-radius: 5px;
}
/*----- Start Tasks Page ----------*/
.fc-day.fc-widget-content{
    -webkit-transition: all .2s ease-in-out;
}

.fc-day.fc-widget-content.fc-today{
    box-shadow: inset 0 0 4px #8e8e8ed4;
}
.fc-day.fc-widget-content:hover{
    box-shadow: 0 0 4px #8e8e8ed4;
    cursor: pointer;
}
/*----- /end tasks page ----------*/

@keyframes heart{
    0%
    {
        transform: scale( .75 );
    }
    20%
    {
        transform: scale( 1 );
    }
    40%
    {
        transform: scale( .75 );
    }
    60%
    {
        transform: scale( 1 );
    }
    80%
    {
        transform: scale( .75 );
    }
    100%
    {
        transform: scale( .75 );
    }
}
